# Ignore all datasets
data/

# Ignore all experiments
*experiments/

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environments
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Misc
test.ipynb



# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.swp
*.swo

# Ignore compiled files
*.o
*.so
*.a
*.out